<div class="deployments">
    <h1>Deployments to {{env}}</h1>
    <button (click)="deploy()" [disabled]="deployInProgress">DEPLOY</button>
    <paper-spinner-lite [active]="deployInProgress"></paper-spinner-lite>

    <hr>
    <h3>Selected Queries</h3>

    <table>
        <thead>
            <th>id</th>
            <th>query</th>
            <th>created by</th>
            <th>finished</th>
        </thead>
        <tbody>
            <tr *ngFor="let query of queries">
                <td>{{query.id}}</td>
                <td>
                    <div class="query-title">
                        <strong>{{query.title}}</strong>
                    </div>
                    <div class="query-string">
                        <code>{{query.query}}</code>
                    </div>
                </td>
                <td>{{query.created_by}}</td>
                <td>
                    <input type="checkbox" [ngModel]="query.finished" disabled>
                </td>
            </tr>
        </tbody>
    </table>
</div>