<!-- load paper-spinner -->

<style is="custom-style">
    paper-spinner,
    paper-spinner-lite {
        margin: 8px 8px 8px 0;
    }
</style>
<div class="viewer">
    <h3>Viewer</h3>
    <table>
        <thead>
            <th>id</th>
            <th>query</th>
            <th>created by</th>
            <th>finished</th>

            <th>vaju</th>
            <th>nithin</th>
            <th>local</th>
            <th>staging</th>
            <th>production</th>

        </thead>
        <tbody>
            <tr *ngFor="let query of queries; let i = index">
                <td>{{query.id}}</td>
                <!-- <td>{{query.query}}</td> -->
                <td>
                    <div class="query-title">
                        <strong>{{query.title}}</strong>
                    </div>
                    <div class="query-string" (click)="onEditClick(query, i)">
                        <code>{{query.query}}</code>
                    </div>
                </td>
                <td>{{query.created_by}}</td>
                <td>
                    <paper-spinner-lite [active]="query.finishedInProgress"></paper-spinner-lite>
                    <input type="checkbox" [(ngModel)]="query.finished" (change)="updateCheckBox(i, query.id, 'finished', query.finished)" [disabled]="query.finishedInProgress && query.editable">
                </td>

                <!-- vaju -->
                <td>
                    <paper-spinner-lite [active]="query.ready_for_vajahathInProgress"></paper-spinner-lite>
                    <input type="checkbox" [(ngModel)]="query.ready_for_vajahath" (change)="updateCheckBox(i, query.id, 'ready_for_vajahath', query.ready_for_vajahath)"
                        [disabled]="query.ready_for_vajahathInProgress"> {{query.vajahath_status}}
                </td>

                <!-- nithin -->
                <td>
                    <paper-spinner-lite [active]="query.ready_for_nithinInProgress"></paper-spinner-lite>
                    <input type="checkbox" [(ngModel)]="query.ready_for_nithin" (change)="updateCheckBox(i, query.id, 'ready_for_nithin', query.ready_for_nithin)"
                        [disabled]="query.ready_for_nithinInProgress"> {{query.nithin_status}}
                </td>

                <!-- local -->
                <td>
                    <paper-spinner-lite [active]="query.ready_for_localInProgress"></paper-spinner-lite>
                    <input type="checkbox" [(ngModel)]="query.ready_for_local" (change)="updateCheckBox(i, query.id, 'ready_for_local', query.ready_for_local)"
                        [disabled]="query.ready_for_localInProgress"> {{query.local_status}}
                </td>

                <!-- staging -->
                <td>
                    <paper-spinner-lite [active]="query.ready_for_stagingInProgress"></paper-spinner-lite>
                    <input type="checkbox" [(ngModel)]="query.ready_for_staging" (change)="updateCheckBox(i, query.id, 'ready_for_staging', query.ready_for_staging)"
                        [disabled]="query.ready_for_stagingInProgress"> {{query.staging_status}}
                </td>

                <!-- production -->
                <td>
                    <paper-spinner-lite [active]="query.ready_for_productionInProgress"></paper-spinner-lite>
                    <input type="checkbox" [(ngModel)]="query.ready_for_production" (change)="updateCheckBox(i, query.id, 'ready_for_production', query.ready_for_production)"
                        [disabled]="query.ready_for_productionInProgress"> {{query.production_status}}
                </td>

            </tr>
        </tbody>
    </table>
    <app-editor [selectedQuery]="selectedQueryCopy" (edited)="onEditedResponse($event)"></app-editor>
</div>