<h3>Viewer</h3>
<table>
    <thead>
        <th>id</th>
        <th>query</th>
        <th>created by</th>
        <th>finished</th>
        <th>edit</th>
    </thead>
    <tbody>
        <tr *ngFor="let query of queries; let i = index">
            <td>{{query.id}}</td>
            <td>{{query.query}}</td>
            <td>{{query.created_by}}</td>
            <td>
                <input type="checkbox" [(ngModel)]="query.finished" (change)="updateFinished(query)">
            </td>
            <td (click)="onEditClick(query, i)">edit</td>
        </tr>
    </tbody>
</table>
<app-editor [selectedQuery]="selectedQueryCopy" (edited)="onEditedResponse($event)"></app-editor>