<div class="create">
    <h3>Add New Query</h3>
    <div class="left">
        <input type="text" class="title-input" [(ngModel)]="title" placeholder="title for query*">
        <br>
        <br>
        <textarea [(ngModel)]="query" placeholder="new query goes here*" id="edit-query" cols="100" rows="10"></textarea>
        <br> created by: name
        <br>
        <br>
        <input type="checkbox" [(ngModel)]="finished">
        <label for="finished">I've finished creating this query</label>
        <br>
        <button (click)="submitQuery()">submit</button>
        <paper-spinner-lite [active]="submissionInProgress"></paper-spinner-lite>
    </div>
    <div class="right">
        <div class="deployment-section">
            <h4>Deployment</h4>
            <p>
                <a routerLink="/deployments/local">Attempt deploy to
                    <strong>Local</strong>
                </a>
                <br>
                <a routerLink="/deployments/staging">Attempt deploy to
                    <strong>Staging</strong>
                </a>
                <br>
                <a routerLink="/deployments/production">Attempt deploy to
                    <strong>Production</strong>
                </a>
            </p>
        </div>
    </div>
</div>